// ===========================================
// Mixins
// ===========================================
@import '../queriez';



// ===========================================
// Tag style
// ===========================================
h1, p, a {
	font-family: 'Roboto Condensed', sans-serif;
}



// ===========================================
// Buttons
// ===========================================
#usd-btn,
#eur-btn,
#sek-btn,
#gbp-btn,
#aud-btn,
#jpy-btn,
#cny-btn {
	border-top:2px solid transparent;
	background-color:#fff;
	border-bottom:2px solid transparent;
	transition: all 0.5s ease;
}
#usd-btn:hover {
	border-top:2px solid red;
	border-bottom:2px solid blue;
	transition: all 0.5s ease;
}
#eur-btn:hover {
	border-top:2px solid #FFCE00;
	border-bottom:2px solid #181E9B;
	transition: all 0.5s ease;	
}
#sek-btn:hover {
	border-top:2px solid #0067AB;
	border-bottom:2px solid #FFD000;
	transition: all 0.5s ease;	
}
#gbp-btn:hover {
	border-top:2px solid red;
	border-bottom:2px solid blue;
	transition: all 0.5s ease;
}
#aud-btn:hover {
	border-top:2px solid blue;
	border-bottom:2px solid red;
	transition: all 0.5s ease;
}
#jpy-btn:hover {
	border-top:2px solid red;
	border-bottom:2px solid red;
	transition: all 0.5s ease;
}
#cny-btn:hover {
	border-top:2px solid #F10000;
	border-bottom:2px solid #FFE400;
	transition: all 0.5s ease;
}



// ===========================================
// General
// ===========================================
.main-bg {
	background-image: url("../Dots.gif");
}
#main-cont {
	margin:0 auto;
	width:90%;
	padding:.5% 0;
	h1 {
		margin:0;
	}
	@include screen(med) {
		width:50%;
	}	
}
#inner-cont {
	background-color: rgba(242, 242, 242, .9);
	width: 98%;
	margin: 0 auto; 
	padding: 20px 20px;
	@extend .box-s;

	h1 {
		color: #383838;
	}
	@include screen(med) {
		display:inline-block;
		margin-bottom:0px;
		padding: 20px 20px;
	}	
}
.box-s {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.bg-cont {
	margin-top: 50px;
	@include screen(med) {
		text-align:center;
		margin-top: 200px;
	}
}
#cur-main {
	font-size:2rem;
	margin:10px;
	color:#383838;
}
#cur-main:focus {
	outline:none;
}
.cur-select {
	list-style-type: none; 
	background-color: #fff;
	display: block;
	cursor:pointer;
	padding:10px 0px;
	border-radius:5px;
	margin:0 auto;
	margin-bottom:10px;
	@include screen(med) {
		display:inline-block;
		margin-bottom:0px;
		padding:10px 20px;
	}	
}









